// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
// $green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark-pink: #DA8197;
$light-pink: #FFC2D1;
$beige: #FCF2EE;
$white: #FFFFFF;
$light-green: #B1D0A9;
$green: #83C480;
$dark-green: #616E5A;
$black: #000000;
