<div class="container">
<%# <div class="wigs-cards"> %>
<div class="filter-btn-container">
  <%= render "shared/dropdown-menus" %>
</div>

  <div class="wig-container-all">
    <% @wigs.each do |wig| %>
      <%= render "shared/index-card", wig: wig %>
    <% end %>
  </div>
<%# </div> %>
</div>
