<main class= "individual-wig-container">

    <div class="btn-container">
        <button class="dark-green-back-btn" id="back-btn">
              <%= link_to wigs_path do %>
                <i class="fa-solid fa-arrow-left"></i>
              <% end %>
        </button>
    </div>

    <%= render "shared/individual-wig-card" %>

    <button class="dark-pink-btn">
      <%= link_to "Rekup this wig", recap_wig_path(@wig) %>
    </button>

    <%= render "shared/links-section-show" %>

</main>
