<main class= "individual-wig-container show-main">

    <%= render "shared/individual-wig-card" %>

  <button class="dark-pink-btn show">
      <%= link_to "Rekup this wig", recap_wig_path(@wig) %>
  </button>

   <%= link_to "Retour", wigs_path, class: "back-link"  %>
</main>
