<main class="donation-confirmation">

  <section class="donation-card">
    <div class="font-awesome-container">
          <i class="fa-solid fa-check fa-5x"></i>
          <h2>Thank you for your donation</h2>
      </div>

      <div class="thank-you-msg">
        <p>On behalf of Rekuperuk, we would like to express our heartfelt gratitude for your generous donation of a wig.</p>
        <p>Your wig will not only provide physical comfort but also help boost confidence and self-esteem during a challenging time.</p>
        <%# <p>With your contribution, we can continue our mission to provide support and resources to those in need. </p> %>
        <p>Together, we are making a difference and spreading hope to our community.</p>
      </div>

      <div class="homepage-btn-donation ">
        <%= link_to "Homepage", home_path %>
      </div>
  </section>

</main>
