<main class="donation-confirmation">

  <section class="donation-card">
    <div class="font-awesome-container">
          <i class="fa-solid fa-check fa-5x"></i>
          <h2>Merci pour votre don</h2>
      </div>

      <div class="thank-you-msg">
        <p>Au nom de Rekuperuk, nous tenons à vous exprimer notre sincère gratitude pour votre  généreux don.</p>
        <p>Votre perruque n'apportera pas seulement un confort physique, mais contribuera également à renforcer la confiance et l'estime de soi d'autres personnes pendant une période difficile.</p>
        <p>Ensemble, nous faisons la différence et donnons de l'espoir à notre communauté.</p>
      </div>

      <div class="homepage-btn-donation ">
        <%= link_to "Page d'accueil", home_path %>
      </div>
  </section>

</main>
