<%# Dropdown menus for filtering color, type, size, length in index page %>

<%# Color dropdown %>
<div class="dropdown-filter">
    <button class="dark-green-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Couleur
    </button>
    <ul class="dropdown-menu" id="filter-dropdown">
      <li><button class="dropdown-item" type="button">Noir</button></li>
      <li><button class="dropdown-item" type="button">Blond</button></li>
      <li><button class="dropdown-item" type="button">Brun</button></li>
      <li><button class="dropdown-item" type="button">Gris</button></li>
      <li><button class="dropdown-item" type="button">Rouge</button></li>
    </ul>
</div>

<%# Size dropdown %>

<div class="dropdown-filter">
    <button class="dark-green-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Taille
    </button>
    <ul class="dropdown-menu" id="filter-dropdown">
      <li>
        <div class="checkbox">
          <label for="myCheckbox">S</label>
        </div>
        <div class="label">
          <input type="checkbox" id="myCheckbox" name="myCheckbox">
        </div>
      </li>
      <li>
        <div class="checkbox">
          <label for="myCheckbox">M</label>
        </div>
        <div class="label">
          <input type="checkbox" id="myCheckbox" name="myCheckbox">
        </div>
      </li>
      <li>
        <div class="checkbox">
          <label for="myCheckbox">L</label>
        </div>
        <div class="label">
          <input type="checkbox" id="myCheckbox" name="myCheckbox">
        </div>
      </li>
    </ul>
</div>

<%# dropdown for type %>

<div class="dropdown-filter">
    <button class="dark-green-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Type
    </button>
    <ul class="dropdown-menu" id="filter-dropdown">
      <li>
        <div class="checkbox">
          <label for="myCheckbox">Straight</label>
        </div>
        <div class="label">
          <input type="checkbox" id="myCheckbox" name="myCheckbox">
        </div>
      </li>
      <li>
        <div class="checkbox">
          <label for="myCheckbox">Curly</label>
        </div>
        <div class="label">
          <input type="checkbox" id="myCheckbox" name="myCheckbox">
        </div>
      </li>
      <li>
        <div class="checkbox">
          <label for="myCheckbox">Frizzy</label>
        </div>
        <div class="label">
          <input type="checkbox" id="myCheckbox" name="myCheckbox">
        </div>
      </li>
    </ul>
</div>

<%# dropdown for length %>


<div class="dropdown-filter">
    <button class="dark-green-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Longueur
    </button>
    <ul class="dropdown-menu" id="filter-dropdown">
      <li>
        <div class="checkbox">
          <label for="myCheckbox">Court</label>
        </div>
        <div class="label">
          <input type="checkbox" id="myCheckbox" name="myCheckbox">
        </div>
      </li>
      <li>
        <div class="checkbox">
          <label for="myCheckbox">Medium</label>
        </div>
        <div class="label">
          <input type="checkbox" id="myCheckbox" name="myCheckbox">
        </div>
      </li>
      <li>
        <div class="checkbox">
          <label for="myCheckbox">Long</label>
        </div>
        <div class="label">
          <input type="checkbox" id="myCheckbox" name="myCheckbox">
        </div>
      </li>
    </ul>
</div>
