<%# Dropdown menus for filtering color, type, size, length in index page %>

<%# Color dropdown %>
<div class="dropdown">
    <button class="dark-green-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Color
    </button>
    <ul class="dropdown-menu" id="color-dropdown">
      <li><button class="dropdown-item" type="button">Black</button></li>
      <li><button class="dropdown-item" type="button">Blonde</button></li>
      <li><button class="dropdown-item" type="button">Brown</button></li>
      <li><button class="dropdown-item" type="button">Grey</button></li>
      <li><button class="dropdown-item" type="button">Red</button></li>
    </ul>
</div>

<%# Size dropdown %>

<div class="dropdown">
    <button class="dark-green-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Size
    </button>
    <ul class="dropdown-menu" id="color-dropdown">
      <li>
        <div class="checkbox">
          <label for="myCheckbox">S</label>
        </div>
        <div class="label">
          <input type="checkbox" id="myCheckbox" name="myCheckbox">
        </div>
      </li>
      <li>
        <div class="checkbox">
          <label for="myCheckbox">M</label>
        </div>
        <div class="label">
          <input type="checkbox" id="myCheckbox" name="myCheckbox">
        </div>
      </li>
      <li>
        <div class="checkbox">
          <label for="myCheckbox">L</label>
        </div>
        <div class="label">
          <input type="checkbox" id="myCheckbox" name="myCheckbox">
        </div>
      </li>
    </ul>
</div>
