<div class="footer">
  <div class="footer-links">
    <a href="https://www.pinterest.fr/search/pins/?q=hairloss%20wigs%20tips&rs=typed" target="_blank"><i class="fa-brands fa-pinterest"></i></i></a>
    <a href="https://www.instagram.com/whlpnetwork?igsh=MTd2amY3OWRmcWxtbQ==" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.youtube.com/@Vanali" target="_blank"><i class="fa-brands fa-youtube"></i></a>
  </div>

  <div class="text">© <strong>R</strong>ekuperuk 2024 - Tous droits réservés</div>
</div>
