<div class="footer">
  <div class="footer-links">
    <a href="https://i.pinimg.com/564x/46/4c/25/464c25e9c7f8d1eb99439b3b693ad08b.jpg" target="_blank"><i class="fa-brands fa-pinterest"></i></i></a>
    <a href="https://i.pinimg.com/564x/9e/9b/b0/9e9bb00d75b1f11a49b93b683898144b.jpg" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://i.pinimg.com/564x/ab/a6/6b/aba66b0e280506849f25e9e6d68fdd99.jpg" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://youtu.be/3sxRAeh8f7w?si=Dupeq13P4rmjlm6k" target="_blank"><i class="fa-brands fa-youtube"></i></a>
  </div>

  <div class="text">© <strong>R</strong>ekuperuk 2024 - Tous droits réservés</div>
</div>
