<div class="card d-flex align-items-center justify-content-center">
    <div class= "img-container-index">
        <%= image_tag "1woman-with-wig.jpeg", alt:"photo of wig", class: "index-img" %>
    </div>
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
