<div class="card d-flex align-items-center justify-content-center" id="individual-wig-card">
    <div class= "img-container-show">
        <%= image_tag "2woman-put-wig-in-box.jpeg", alt:"photo of wig", class: "index-img" %>
    </div>
    <div class="card-body" id="individual-wig-info">
        <h6 class="card-title">Color: <span>Blonde</span></h6>
        <h6 class="card-title">Size: <span>L</span></h6>
        <h6 class="card-title">Type: <span>Natural</span></h6>
        <h6 class="card-title">Length: <span>Long</span></h6>
    </div>
</div>
