<section class="faq-tutorials-link-section">
  <div class="section-text-container">
     <p>Dans notre
        <span>
          <%= link_to "Foire Aux Questions", faq_path %>
        </span> vous découvrirez d'autres astuces et conseils sur l'entretien et le coiffage des perruques.</p>
  </div>
  <div class="section-icon-container">
    <%= image_tag "wig-care-hairstyles-icon.jpg", alt:"Wig care tips and hairstyles icon", class: "section-icon-img" %>
  </div>
</section>
