<section class="faq-tutorials-link-section">
  <div class="section-text-container">
     <p>Explore our
        <span>
          <%= link_to "FAQ & Tutorials page", "#" %>
        </span> to discover additional tips and insights on wig care and styling.</p>
  </div>
  <div class="section-icon-container">
    <%= image_tag "wig-care-hairstyles-icon", alt:"Wig care tips and hairstyles icon", class: "section-icon-img" %>
  </div>
</section>
