<div class="splash-container">
        <div class="banner">
            <%= image_tag  "Logo-Blanc-sans-texte.png", alt:"photo of wig", class: "splash-img" %>
            <h1><span>Rekuperuk</span></h1>
            <p>the sustainable wig solution!</p>
            <%= link_to "Explore", home_path, class: "btn-left" %>
            <%# <button type="button" class="btn-left">Explore</button> %>
        </div>
</div>
