<div class="splash-container">
        <div class="splash-overlay"></div>
        <div class="banner">
            <%= image_tag  "Logo-Blanc-sans-texte.png", alt:"photo of wig", class: "splash-img" %>
            <h1><span>Rekuperuk</span></h1>
            <p>solidaire et durable!</p>
            <%= link_to "Découvrir", home_path, class: "btn-left" %>
        </div>
</div>
