<main class="conseils">
  <section>
    <div class="conseils-choix">
        <div class="conseils-headers">
          <h3>Les conseils <strong>Rekuperuk</strong></h3>
        </div>
        <div class="conseils-paragraph">
          <p>Avant de choisir sa perruque il faut se poser quelques questions importantes
          <ul>
            <li>Pour se sentir à l'aise au quotidien il faut que la perruque soit à <strong>la bonne taille</strong> par rapport à votre tour de tête.</li>
            <li><strong>Quelle coupe et couleur</strong> faut-il choisir en fonction de la forme de mon visage ?</li>
            <li><strong>La matière</strong> des cheveux de la perruque déterminera l’entretien de celle-ci </li>
          </ul></p>
        </div>
    </div>
  </section>

<div class="tuto-youtube d-flex justify-content-center">
<iframe style="border:2px solid black"; width="280" height="158" src="https://www.youtube.com/embed/vKFAWOR35UM?si=rh_Ibfwik3BGzLvV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>

  <section>
  <div class="conseils-choix">
   <h4 class="conseil-h4">La taille de votre perruque</h4>
    <p>Pour être à l'aise il faut que votre perruque soit à la bonne taille. Il existe 3 tailles :
        <ul>
          <li>Petite (small): entre 52 et 54 cm</li>
          <li>Standard (medium) entre 55 et 57 cm </li>
          <li>Grande taille (large): entre 58 et 60 cm </li>
        </ul>
      <p> Il est souvent possible d'ajuster la taille de quelques centimètres grâce à des différents systèmes d’attaches.</p>
    </p>

</div>

<div class="conseils-choix">
    <h4 class="conseil-h4">L’entretien de ma perruque</h4>

<p> La qualité des cheveux synthétiques s'est beaucoup amélioré. On n'arrive presque plus à voir la différence entre les perruques synthétiques et naturelles. L’entretien de votre perruque dépend néanmoins de la matière de votre perruque.</p>
</div>

  <div class="tuto-youtube d-flex justify-content-center mt-3 mb-3">
    <iframe style="border:2px solid black" width="280" height="157" src="https://www.youtube.com/embed/4OFpIe0PwZA?si=rtPP2SAInxuZv9H2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>

<div class="conseils-choix">
    <p>L'entretien selon la matière de ma perruque
      <ul>
        <li><strong>Les perruques synthetiques </strong>: Les cheveux synthétiques ne peuvent pas être exposés à la chaleur (lisseur, sèche cheveux…). Ils doivent être entretenus avec des produits spécifiques et un lavage tous les 10 jours est conseillé. La fibre une fois sèche, reprendra sa forme initiale. Aucun brushing n'est nécessaire, ils sont même interdits. </li>
        <li><strong>Les perruques semi-naturelles</strong>:  Elles sont composées de cheveux synthétiques et naturels. Leur entretien se réalise avec les mêmes produits qui sont utilisés pour les cheveux naturels. Les perruques peuvent être exposées à la chaleur d’appareils électriques tels que sèche cheveux, lisseurs ou boucleurs.</li>
        <li><strong>Les perruques naturelles</strong>: Elles sont réalisées à base de cheveux humains et de ce fait s'entretiennent ainsi. Il est possible utiliser différents appareils chauffants et produits d'entretien.</li>
      </ul>
    </p>
</div>



   <div class="link-container">
     <%= link_to "Retour", home_path %>
  </div>
  </section>


</main>
