// Homepage - Receive a wig button
// Show page - Rekup this wig button

.dark-pink-btn {
  display: block;
  width: 50%;
  background-color: $dark-pink;
  padding: 0.8rem 1rem;
  outline: none;
  border: none;
  border-radius: 0.6rem;
}

// .dark-pink-btn:hover {
//   background-color: transparent;
//   border: 1px solid $dark-pink;
// }

// .dark-pink-btn:hover a {
//   color: $dark-pink;
// }

.dark-pink-btn a {
  text-decoration: none;
  color: $white;
  font-family: "Zilla Slab";
  font-weight: 500;
}

// Homepage - Donate a wig button

.transparent-pink-btn {
  display: block;
  padding: 0.8rem 1rem;
  margin-top: 2rem;
  width: 50%;
  background-color: transparent;
  border: 1px solid $dark-pink;
  outline: none;
  border-radius: 0.6rem;
}

// .transparent-pink-btn:hover {
//   background-color: $dark-pink;
// }

// .transparent-pink-btn:hover a {
//   color: $white;
// }

.transparent-pink-btn a {
  text-decoration: none;
  color: $dark-pink;
  font-family: "Zilla Slab";
  font-weight: 500;
}

// Filtering buttons in index page

.dark-green-btn {
  padding: 0.8rem 1rem;
  width: 20%;
  background-color: $dark-green;
  border: none;
  outline: none;
  border-radius: 0.6rem;
}

.dark-green-btn a {
  text-decoration: none;
  color: $white;
  font-family: "Zilla Slab";
  font-size: 0.8rem;
  font-weight: 500;
}

// .dark-green-btn:hover {
//   background-color: transparent;
//   border: 1px solid $dark-green;
// }

// .dark-green-btn:hover a {
//   color: $dark-green;
// }

// Log in, sign up, wig donation, alert buttons

.dark-green-lg-btn {
  padding: 0.8rem 1rem;
  width: 50%;
  background-color: $dark-green;
  border: none;
  outline: none;
  border-radius: 0.6rem;
}

.dark-green-lg-btn a {
  text-decoration: none;
  color: $white;
  font-family: "Zilla Slab";
  font-size: 0.8rem;
  font-weight: 500;
}

// .dark-green-lg-btn:hover {
//   background-color: transparent;
//   border: 1px solid $dark-green;
// }

// .dark-green-lg-btn:hover a {
//   color: $dark-green;
// }

// Back to previous page green button

.dark-green-back-btn {
  padding: 0.6rem 0.8rem;
  width: 18%;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 0.6rem;
}

.dark-green-back-btn a {
  text-decoration: none;
  color: $white;
  font-family: "Zilla Slab";
  font-size: 0.8rem;
  font-weight: 500;
}

// .dark-green-back-btn:hover {
//   background-color: transparent;
//   border: 1px solid $dark-green;
// }

// .dark-green-back-btn:hover a {
//   color: $dark-green;
// }
