.donation-confirmation {
  width: 100%;
  min-height: calc(100vh - 15vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.donation-confirmation section {
  width: 19rem;
  height: 31rem;
  background-color: $white;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 0;
}

.font-awesome-container {
  display: grid;
  place-items: center;
}

.font-awesome-container i {
  color: $green;
  margin-bottom: 1rem;
  animation: spinAnimation 1s linear;
}

.donation-card h2 {
  color: $black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.4rem;
}

.thank-you-msg {
  padding: 1rem;
}

.thank-you-msg p:not(:last-child) {
  padding-bottom: 1rem;
  text-align: justify;
}

.homepage-btn-donation a {
  display: inline-block;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  background-color: $dark-pink;
  padding: 0.8rem 1rem;
  color: $white;
  font-family: 'Zilla Slab';
  border-radius: 0.6rem;
}

@keyframes spinAnimation {
  0% {
    transform: rotateY(0); /* Start with normal rotation */
  }
  100% {
    transform: rotateY(1080deg); /* Spin 3 times */
  }
}

// Responsive

@media(min-width: 370px) {
  .donation-confirmation section {
    width: 22rem;
  }
}
