.dropdown-filter {
  background-color: $dark-green;
  border-radius: 5px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 0.15rem;
}

.dropdown-filter button {
  color: $white;
  font-family: "Zilla Slab";
  padding: 0.6rem 0.8rem;
  width: 20%;
}

.dropdown-filter button a {
  text-decoration: none;
  color: $white;
  font-family: "Zilla Slab";
  font-size: 0.8rem;
  font-weight: 500;
}

.dropdown-filter button:hover {
  background-color: transparent;
  border: 1px solid $dark-green;
}

.dropdown-filter button:hover a {
  color: $dark-green;
}

#filter-dropdown {
  width: 100%;
  background-color: $white;
}

#filter-dropdown li {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

#filter-dropdown li button {
  color: $black;
  text-align: left;
}

.nav-link {
  color: $dark-green;
  font-family: "Zilla Slab";
  font-size: large;
  font-weight: 600;
  text-decoration: none;
}
