.dropdown-filter {
  background-color: $dark-green;
  border-radius: 5px;
  margin-top: 12px;
}

.dropdown button {
  color: $white;
  text-align: center;
}

.dropdown button:active,
.dropdown button:focus {
  color: $dark-green;
}

#color-dropdown {
  width: 100%;
  background-color: $white;
}

#color-dropdown li {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

#color-dropdown li button {
  color: $black;
  text-align: left;
}
