.faq-container {
  width: 100%;
  min-height: 110vh;
  margin: 2rem 0;
}
.questions {

  h2 {
    font-family: 'Zilla Slab';
    font-size: 19px;
    color: $dark-green;
    text-align: center;
  }
  p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 14px;
    text-align: center;
    color: $black;
    padding: 0.5rem;
  }
}

.accordion-body {
  background-color: $white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  padding: 12px;
  p {
    text-align: justify;
  }
}

h2 {
  font-family: 'Zilla Slab';
  text-align: left;
}

button.accordion-button:not(.collapsed) {
  background-color: #b1d0a9;
  color: $white;
}

.accordion-button {
  background-color: $dark-green;
}

button.accordion-button.collapsed {
  background-color: #616e5a;
  color: $white;
}

button.accordion-button.collapsed::after {
  color: $white;
}
