// Specific CSS for your home-page

.container-fluid {
  margin-top: 16px;
}

p {
  color: $black;
  text-align: justify;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h5 {
  color: #616e5a;
  // font-size: 20px;
  font-family: zilla slab;
  text-align: center;
}

#carouselExampleCaptions {
  margin-top: 20px;
  margin-bottom: 20px;
}

body {
  background-color: $beige;
}

.carousel-inner {
  background-color: $white;
}

.carousel-item {
  background-color: $white;
  height: 200px;
}

.carousel-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: $white;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textblock {
  display: flex;
  justify-content: center;
  align-items: justify;
  padding: 16px;
  margin-top: 16px;
}
