.filter-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// .filter-btn-container button {
//   padding: 0.8rem 1rem;
//   width: 20%;
//   background-color: $dark-green;
//   border: none;
//   outline: none;
//   border-radius: 0.6rem;
// }

// .dark-green-btn a {
//   text-decoration: none;
//   color: $white;
//   font-family: "Zilla Slab";
//   font-size: 0.8rem;
//   font-weight: 500;
// }

.card {
  width: 19rem;
  background-color: $white;
  border-radius: 0.8rem;
  outline: none;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
}

.img-container-index {
  width: 100%;
}

.img-container-index img {
  width: 100%;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}

.card-body {
  padding: 8px;
  background-color: $white;
  border-radius: 0 0 0.8rem 0.8rem;
}

.card-body h5 {
  font-weight: bold;
  font-size: 16px;
  font-family: "Zilla Slab";
}

.card-body p {
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.wigs-cards {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 16px;
  margin-bottom: 16px;
}
