// Burger menu lines

.menu {
  width: 3rem;
  height: 3rem;
  left: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.line {
  width: 60%;
  height: 0.2rem;
  background-color: #eee;
  border-radius: 0.8rem;
}

.line-2 {
  width: 40%;
}

// End of burger menu lines

.navbar-lewagon {
  background: $green;
}

.container-fluid {
  margin-bottom: 0.5rem;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.fa-arrow-right-from-bracket {
  color: $white;
}

#log-in-link {
  color: $white;
  font-family: 'Zilla Slab';
  font-size: 1.1rem;
  font-weight: 500;
}

#navbarSupportedContent {
  background-color: $white;
  position: absolute;
  z-index: 100;
  width: 100vw;
}

#navbarSupportedContent ul li a {
  padding-left: 0.8rem;
}

.navbar-toggler {
  color: transparent;
  border: none;
}

.navbar-toggler-icon {
  color: $white;
}

.navbar-lewagon li {
  list-style-type: none;
}

#avatar-dropdown {
  background-color: $white;
}

.fa-arrow-right-from-bracket {
  margin-right: 1rem;
}
